@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alstoria Font */
@font-face {
  font-family: "Alstoria";
  src: url("/fonts/Alstoria.ttf");
}

/* Creato Display font */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Bold.otf");
  font-weight: 700;
}

html {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
